body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  #display {
    justify-content: center;
    height: 40px;
    text-align: right;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .btn {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #555;
  }
  